.form-input {
  margin: 20px 0;
  
  &__label {
    font-size: 14px;
    color: #475867;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 4px;
  } 

  input {
    width: 100%;
    border: 0;
    border: 1px solid #cfd7df;
    margin: 8px 0 0;
    border-radius: 4px;
    padding: 4px 12px 5px;
    resize: none;
    background-color: #fff;
    box-shadow: none;
    min-height: 32px;
  }
}